/* PROYECCTO 2*/
/*
paddings en el header y no vh (x)
boton (x)
copyright (x)
position: fixed; Para el elemento del chat (x)
hamburguesa menú (x)
footer responsive - que los iconitos se vayan ajustando según la pantalla (x)

*/

body{
	margin:0em;
	font-family: Arial,sans-serif;
}
h1, h2, h3, h4{
	text-transform: uppercase;
}
h3{
	font-size:1.38316rem
}
p{
	line-height: 1.5em;
}
a{
	color:black;
}
h1{  
	font-size:2em;
    margin: 10% 0 10% 10%;
    /*flexbox*/
	display: flex;
    flex-direction: row;
    align-items: center;	
}
h1 a{
	text-decoration: none;
}
h1 a:visited{
	color:black;
}
section, footer{
	padding: 3% 10%;
}
button{
	font-size: 1.1em;
	background: #fff;
    color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 0;
    padding:1%;
}
.bgblack a{
	color:white;
}
.bgblack{
	background:black;
	color:white;
	padding:2em,0em,2em,0em;
}
.presentacion{
	background-image: url("https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg");
	/*height: 39vh;*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
	display: flex;	
}
.menus{
	position:sticky;
	top:0;
}
.menuDesktop{
	background:black;
	padding: 1% 10%;
	/*flexbox*/
	display: flex;
    justify-content: space-between;
    align-items: center;
}
/*default*/
.menuMobile{
	display:none;
}

/*ejemplo menu hamburger*/
.hamburger {
  position: relative;
  display: inline-block;
  color:white;
  background-color: black;
  font-size: 1.5em;
  font-weight: bold;
}
.hamburger-content {
  display: none;
  position: absolute;
  left: -2.4em;
  z-index:1;
  color:white;
  background-color: black;
  width: 100vw;
  padding: 1em;
  font-size: 0.7em;
}
.hamburger a{
	margin-left: 0.5em;
}
.hamburger:hover .hamburger-content {
  display: block;
}
.hamburger span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: block;
  transform: rotate(90deg);
}
.hamburger:hover span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: inline-block;
  transform: rotate(180deg);
}
nav a{
	color:white;
	text-decoration: none;
}
.grid1{
	display:grid;
	grid-template-columns: 1fr; /* // tmb vale -> 1fr 1fr 50% !cualquier conbinación! */
	grid-gap:1em;
}
.grid2{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:1em;

}
.grid4{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap:1em;
}
.grid3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:1em;
}
.grid8{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap:0.2em;
}
.grid8 img{
	width: 75%;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.social a{
	font-size: 80%;
	margin-right:1em;
}
.bgImgYellow{
	background-image: linear-gradient(90deg,#ff0 0,#ff0);
}

.boxWays{
	border: 1px solid black;
    margin-bottom: 1em;
    text-align: left;
    padding: 1em;
    box-shadow: -3px 3px #000;
}
.boxWays h3, h4{
	margin: 1% 0 3% 0;
}
.chatIcon{
 	position: fixed;
    bottom: 13px;
    right: 14px;
    height: 45px;
    width: 45px;
    background-color: white;
}
footer a{
	font-size: 0.7em;
	text-decoration: none;
	margin:0.1em;
	line-height: 1.7em;
	display: block;
}
footer p{
	font-size: 0.7em;
}
footer .underline{
	text-decoration: underline;
}

/*tablet version*/
@media screen and (max-width: 800px) {
	.grid2, .grid4{
		grid-template-columns: 1fr;	
	}
	h1{
		font-size: 1.5em;
	}
}
/*mobile version*/
@media screen and (max-width: 500px) {
	.grid2, .grid3, .grid4{
		grid-template-columns: 1fr;	
	}	
	h1{
		font-size:1em;
	}
	.menuDesktop{
		display:none;
	}
	.menuMobile{
		background:black;
		padding: 1% 10%;
		/*flexbox*/
		display: flex;
   		justify-content: flex-start;
	}
	#partners{
		padding: 3%;
	}
}




/*
#want h2 {
    height: 2em;
}
*/